<<<<<<< HEAD
@font-face {
    font-family: 'Fondamento';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/fondamento/v11/4UaFrEJGsxNmFTPDnkaJ96_Z5btx.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


.backgroundColor {background-color: #CC6600}

.fond {
	font-family: "Fondamento";
}

.style1 {
    color: #FFFFFF
}
.style3 {	
    font-size: 48px;
	font-family: "Fondamento";
	font-weight: bold;
}
.style4 {	
    font-family: "Fondamento";
	font-weight: bold;
	font-size: 14px;
}
.style7 {
    font-size: 12px
}
.style9 {
    font-size: 12
}
.style5 {
    font-size: 12px
}

table {

}

.lead {
    height: fit-content;
}

.header {
    background-color: #CC6600;
    display: inline-flexbox;
    float: left;
    width: 100%;
    height: 60%;
    font-family: Fondamento;
}

=======
@font-face {
    font-family: 'Fondamento';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/fondamento/v11/4UaFrEJGsxNmFTPDnkaJ96_Z5btx.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


.backgroundColor {background-color: #CC6600}

.fond {
	font-family: "Fondamento";
}

.style1 {
    color: #FFFFFF
}
.style3 {	
    font-size: 48px;
	font-family: "Fondamento";
	font-weight: bold;
}
.style4 {	
    font-family: "Fondamento";
	font-weight: bold;
	font-size: 14px;
}
.style7 {
    font-size: 12px
}
.style9 {
    font-size: 12
}
.style5 {
    font-size: 12px
}

table {

}

.lead {
    height: fit-content;
}

.header {
    background-color: #CC6600;
    display: inline-flexbox;
    float: left;
    width: 100%;
    height: 60%;
    font-family: Fondamento;
}

>>>>>>> a8bbf66a36b8caebdf30395a26993a36a363fb92
